.userModalForm {
    gap: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: relative;

    padding: 0 2rem;

    button.closeModal {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.5rem;
        color: #202224;
        font-size: 1.5rem;
        background-color: transparent;
    }

    h2 {
        color: #202224;
        font-size: 2rem;
        align-self: flex-start;
    }

    label {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
        color: #202224;
        width: 100%;

        input, select {
            padding: 0.5rem;
            border: 1px solid #202224;
            border-radius: 0.25rem;
        }
    }

    button[type='submit'] {
        padding: 0.5rem 1rem;
        border-radius: 6px;
        color: #ffffff;
        background-color: #065D2F;

        align-self: flex-end;

        &:hover {
            background-color: #334155;
        }
    }
}
